<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav *ngIf="mostrarMenu" >
    <div class="nav-wrapper">
      <a routerLink="" class="brand-logo right">Rotas NG2</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
        <li routerLinkActive="active"><a routerLink="/cursos" [queryParams]="{pagina : 1}">Cursos</a></li>
        <!--li routerLinkActive="active"><a [routerLink]="['/curso', idCurso.value]">Curso Detalhe</a></li-->
        <!--[ROUTERLINK receberá 2 parametros: 1-Nome da rota, 2-parâmetro]-->
        <li routerLinkActive="active"><a routerLink="/alunos">Alunos</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <!--p>Entre com um ID p/ o curso</p>
    <input #idCurso-->
    <router-outlet></router-outlet>
  </div>